<!DOCTYPE html>
<html>

    <head>
        <title>메인</title>
        <style>
            body {
                background-color: #ffffff;
            }
        </style>
    </head>

    <body>
        
        <header>
            <img src="static/images/메인로고.jpg" alt="main logo" width = "250"  height = "100"  style="margin-left: auto; margin-right: auto; display: block;">
        </header>

        <div>

            <div style="margin-left: auto; margin-right: auto; display: inline; float: left; padding: 3px 50px 3px 50px; border: 3px ridge rgb(170, 170, 170)" >
                <h1>▶ 원하는 레시피를 선택해주세요</h1>
                <iframe name="test" id="test" src="https://www.10000recipe.com/" width="1280" height="720"></iframe>
            </div>
    
            <div style= "margin-top: 100px; margin-left: 20px; margin-right: auto; display: inline; ; float: left; padding: 10px; border: 3px outset rgb(96, 66, 228)">

                <p style = "font-size: large;">▶ 선택한 레시피의 URL을 입력해주세요 </p>

                <form action = "http://127.0.0.1:5000/search" method = "GET">
                    <input type="text" style="margin-left: 20px; display: inline; float: left; WIDTH: 220pt; HEIGHT: 20pt" name="recurl"/>
                    <input type='submit' style="margin-left: 20px; display: inline; float: left; font-size: large; WIDTH: 60pt; HEIGHT: 60pt; border-radius:20px 20px 20px 20px; cursor:pointer; 
                    background-color: #00914d; border: none; color:#fff;" value = '확정'/>
                </form>

            </div>

        </div>

    </body>

</html>